# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/.claude/
/secrets.yaml
/hardware/libraries/Coert-Vonk.l#*
/hardware/OPNpool r?.b#*
/hardware/OPNpool r?.s#*
components/opnpool/__pycache__/__init__.cpython-313.pyc
/changes.txt
