/.idea
**/build
**/sdkconfig
.#*
#*#
interface/debug.log
interface/sdkconfig.old
interface/main/trace.txt
hardware/schematic/*.s#1
hardware/schematic/*.b#1
hardware/schematic/*.job
.vscode/*
**/.vscode/ssettings.json