[submodule "interface/components/coredump_to_server"]
	path = interface/components/coredump_to_server
	url = https://github.com/cvonk/ESP32_coredump-to-server
[submodule "interface/components/ota_update_task"]
	path = interface/components/ota_update_task
	url = https://github.com/cvonk/ESP32_ota-update-task.git
[submodule "interface/components/factory_reset_task"]
	path = interface/components/factory_reset_task
	url = https://github.com/cvonk/ESP32_factory-reset-task.git
[submodule "interface/factory/components/factory_ble_prov"]
	path = interface/factory/components/factory_ble_prov
	url = https://github.com/cvonk/ESP32_factory-ble-prov.git
[submodule "interface/components/wifi_connect"]
	path = interface/components/wifi_connect
	url = https://github.com/cvonk/ESP32_wifi-connect.git
[submodule "android"]
	path = android
	url = git@github.com:cvonk/Android-esp_idf_provisioning.git
[submodule "research/protocol/nodejs-poolController"]
	path = research/protocol/nodejs-poolController
	url = git@github.com:tagyoureit/nodejs-poolController.git
[submodule "research/protocol/easy-touch-raspberry-pi"]
	path = research/protocol/easy-touch-raspberry-pi
	url = git@github.com:dminear/easy-touch-raspberry-pi.git
[submodule "research/protocol/Arduino.Pentair"]
	path = research/protocol/Arduino.Pentair
	url = git@github.com:Zuntara/Arduino.Pentair.git
