config WIFI_CONNECT_SSID
    string "WiFi SSID"
    default ""
    help
        Leave empty for BLE provisioning.

config WIFI_CONNECT_PASSWD
    string "WiFi Password"
    default ""
    help
        Leave empty for BLE provisioning.
