menu "OPNpool"

    config OTA_UPDATE_FIRMWARE_URL
        string "Firmware upgrade url endpoint"
        default "http://host.domain/path/interface.bin"
        help
            URL of server which hosts the firmware image. (make sure it matches Kconfig in interface dir)

    config OTA_UPDATE_RECV_TIMEOUT
        int "OTA Update receive Timeout"
        default 5000
        help
            Maximum time for reception [sec]

endmenu