menu "Pool OTA Updates"

config OTA_FIRMWARE_URL
    string "firmware upgrade url endpoint"
    default "https://coertvonk.com/jvonk/pool/interface.bin"
    help
        URL of server which hosts the firmware
        image.
endmenu


config OTA_RECV_TIMEOUT
    int "OTA Receive Timeout"
    default 5000
    help
        Maximum time for reception

