body {
    background: #333;
}

.ui-header {
    color: white;
    background-color: #256590;
    border-bottom: 0;
}
#colborders .ui-collapsible-heading .ui-btn {
    border-top-width: 1px !important;
}

.rs-control {
    margin-bottom: 18px !important;
}

.rs-control .rs-range-color {
    background-color: #54bbe0;
}

.rs-control .rs-path-color {
    background-color: white
}

.rs-control .rs-handle {
    background-color: #54bbe0;
}

.rs-control .rs-bg-color {
    background-color: #2b2b2b;
}

.rs-tooltip {
    font-size: 100%;
}

.bg-blue {
    background-color: #54BBE0;
}

.bg-red {
    background-color: #BD1550;
}

.bg-green {
    background-color: #8A9B0F;
}

.bg-orange {
    background-color: #E97F02;
}

.ui-slider .ui-slider-handle {
    background: #54BBE0;
}

.center-wrapper {
    text-align: center;
    vertical-align: middle;
    margin: 0
}
.center-wrapper * {
    margin: 0 auto;
    line-height: 32px;
}

.ui-radio > label.ui-btn {
    width: 80px;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}

.ui-checkbox > label.ui-btn {
    width: 80px;
    text-align: center;
    font-size: 1.2em;
    padding: 0;
}

.ui-collapsible-content {
    margin: 50px;
}
