menu "Pool Interface"

    config POOL_MQTT_DATA_TOPIC
        string "MQTT broker uri"
        default "pool/data"
        help
            MQTT topic for data from the Pool Interface

    config POOL_MQTT_CTRL_TOPIC
        string "MQTT broker uri"
        default "pool/ctrl"
        help
            MQTT topic for control messages to the Pool Interface

    config POOL_MQTT_URL
        string "MQTT broker uri"
        default "mqtt://user:passwd@host:1883"
        help
            URL of the MQTT broker.  For authentication include the username
            and password.

endmenu