menu "Pool Interface"

    config OTA_UPDATE_FIRMWARE_URL
        string "Firmware upgrade url endpoint"
        default "http://nas.vonk:84/embedded/interface.bin"
        help
            URL of server which hosts the firmware image. (make sure it matches Kconfig in factory dir)

    config OTA_UPDATE_RECV_TIMEOUT
        int "OTA Update receive Timeout"
        default 5000
        help
            Maximum time for reception [sec]

    config POOL_RS485_RXPIN
        int "RS485 Rx GPIO# on ESP32"
        default 25
        help
            Receive GPIO# on ESP32 that connects to RO on the RS-485 Transceiver

    config POOL_RS485_TXPIN
        int "RS485 Tx GPIO# on ESP32"
        default 26
        help
            Transmit GPIO# on ESP32 that connects to DI on the RS-485 Transceiver

    config POOL_RS485_RTSPIN
        int "RS485 RTS GPIO# on ESP32"
        default 27
        help
            Request-To-Send GPIO# on ESP32 that connects to DE/!RE on the RS-485 Transceiver

    config POOL_RS485_TIMEOUT
        int "RS485 timeout [ms]"
        default 100
        help
            Maximum time to wait for a byte on RS485

    config POOL_MQTT_URL
        string "MQTT broker uri"
        default "mqtt://mqtt:GjRqHdcZM5UnxJ38@mqtt.vonk:1883"
        help
            URL of the MQTT broker.  For authentication include the username
            and password.

    config POOL_MQTT_DATA_TOPIC
        string "MQTT broker uri"
        default "pool/data"
        help
            MQTT topic for data from the Pool Interface

    config POOL_MQTT_CTRL_TOPIC
        string "MQTT broker uri"
        default "pool/ctrl"
        help
            MQTT topic for control messages to the Pool Interface

    config POOL_DBGLVL_DATALINK
        int "Datalink/RS485 layer debug level"
        default 1
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_NETWORK
        int "Network layer debug level"
        default 1
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_POOLSTATE
        int "Poolstate debug level"
        default 1
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_POOLTASK
        int "Pool task debug level"
        default 1
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_MQTTTASK
        int "MQTT task debug level"
        default 2
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_HASSTASK
        int "Home assistant task debug level"
        default 2
        help
            0 for no debug, 1 for errors only, 2 for all

    config POOL_DBGLVL_HTTPD
        int "HTTPd debug level"
        default 1
        help
            0 for no debug, 1 for errors only, 2 for all

endmenu