menu "Pool Interface"

    config OTA_UPDATE_FIRMWARE_URL
        string "Firmware upgrade url endpoint"
        default "http://nas.vonk:84/embedded/interface.bin"
        help
            URL of server which hosts the firmware image. (make sure it matches Kconfig in factory dir)

    config OTA_UPDATE_RECV_TIMEOUT
        int "OTA Update receive Timeout"
        default 5000
        help
            Maximum time for reception [sec]

    config POOL_RS485_RXPIN
        int "RS485 Rx GPIO# on ESP32"
        default 25
        help
            Receive GPIO# on ESP32 that connects to RO on the RS-485 Transceiver

    config POOL_RS485_TXPIN
        int "RS485 Tx GPIO# on ESP32"
        default 26
        help
            Transmit GPIO# on ESP32 that connects to DI on the RS-485 Transceiver

    config POOL_RS485_RTSPIN
        int "RS485 RTS GPIO# on ESP32"
        default 27
        help
            Request-To-Send GPIO# on ESP32 that connects to DE/!RE on the RS-485 Transceiver

    config POOL_RS485_TIMEOUT
        int "RS485 timeout [ms]"
        default 100
        help
            Maximum time to wait for a byte on RS485

    config POOL_MQTT_URL
        string "MQTT broker uri"
        default "mqtt://mqtt:GjRqHdcZM5UnxJ38@mqtt.vonk:1883"
        help
            URL of the MQTT broker.  For authentication include the username
            and password.

    config POOL_MQTT_URL
        string "MQTT broker uri"
        default "mqtt://mqtt:GjRqHdcZM5UnxJ38@mqtt.vonk:1883"
        help
            URL of the MQTT broker.  For authentication include the username
            and password.

    config POOL_MQTT_DATA_TOPIC
        string "MQTT broker uri"
        default "pool/data"
        help
            MQTT topic for data from the Pool Interface

    config POOL_MQTT_CTRL_TOPIC
        string "MQTT broker uri"
        default "pool/ctrl"
        help
            MQTT topic for control messages to the Pool Interface

    config POOL_JSON_BUFSIZE
        int "JSON buffer size"
        default 1200
        help
            Maximum size of the StaticJsonBuffer (>=1200)

    config POOL_DBG_DATALINK
        bool "Debug datalink packets"
        default n
        help
            Print RS485 bytes to serial port

    config POOL_DBG_DATALINK_ONERROR
        bool "Debug datalink packets with errors"
        default y
        help
            Print RS485 bytes on decoding error to serial port

    config POOL_DBG_NETWORK
        bool "Debug network messages"
        default n
        help
            Print messages that cannot be decoded to serial port

    config POOL_DBG_NETWORK_ONERROR
        bool "Debug network messages with errors"
        default y
        help
            Print messages that cannot be decoded to serial port

    config POOL_DBG_POOLTASK
        bool "Debug pool task"
        default n
        help
            Print control messages to serial port

    config POOL_DBG_POOLTASK_ONERROR
        bool "Debug pool task error messages"
        default y
        help
            Print messages that cannot be decoded to serial port

    config POOL_DBG_POOLSTATE
        bool "Debug state changes for control messages"
        default n
        help
            Print control messages to serial port

    config POOL_DBG_POOLSTATE_ONERROR
        bool "Debug state changes with errors"
        default y
        help
            Print messages that cannot be decoded to serial port

endmenu